/**
 * Created by Louka MB. <https://github.com/mblouka>
 * 06/01/2024
 */

// Import of Tailwind's very useful "container" class.

@mixin container($align: boolean) {
  width: 100%;

  @if $align {
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: 640px) {
    max-width: 640px;
  }

  @media (min-width: 768px) {
    max-width: 768px;
  }

  @media (min-width: 1024px) {
    max-width: 1024px;
  }

  @media (min-width: 1280px) {
    max-width: 1280px;
  }

  @media (min-width: 1536px) {
    max-width: 1536px;
  }
}
