/**
 * Created by Louka MB. <https://github.com/mblouka>
 * 05/01/2024
 */

@use "colors";
@use "container" as *;
@use "scheme" as *;

html,
body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;

  min-width: 100vw;
  min-height: 100vh;

  @include on-scheme(color, colors.$text-light, colors.$text-dark);
  @include on-scheme(
    background-color,
    colors.$bg-light-shade0,
    colors.$bg-dark-shade0
  );
}

header {
  padding: 1rem;

  @include on-scheme(
    background-color,
    colors.$bg-light-shade1,
    colors.$bg-dark-shade1
  );

  #header-contents {
    @include container(true);

    #site-id {
      #site-name {
        font-size: 1.5rem;
        font-weight: bold;
      }

      #site-desc {
        font-size: 0.8rem;
      }
    }
  }
}

main {
  @include container(true);
}
