/**
 * Created by Louka MB. <https://github.com/mblouka>
 * 05/01/2024
 */

@use "preflight" as *;
@use "container" as *;
@use "scheme" as *;
@use "colors";

html,
body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;

  min-width: 100%;
  max-width: 100%;
  min-height: 100vh;

  @include on-scheme(color, colors.$text-light, colors.$text-dark);
  @include on-scheme(
    background-color,
    colors.$bg-light-shade0,
    colors.$bg-dark-shade0
  );
}

header {
  padding: 1rem;

  @include on-scheme(
    background-color,
    colors.$bg-light-shade1,
    colors.$bg-dark-shade1
  );

  #header-contents {
    @include container(true);

    #site-id {
      #site-name {
        font-size: 1.5rem;
        font-weight: bold;
      }

      #site-desc {
        font-size: 0.8rem;
      }
    }
  }
}

footer {
  display: flex;
  padding: 1rem;

  @include on-scheme(
    background-color,
    colors.$bg-light-shade1,
    colors.$bg-dark-shade1
  );

  #footer-links {
    display: flex;
    gap: 1rem;
    margin-left: auto;

    a {
      @include on-scheme(color, colors.$text-light, colors.$text-dark);
      opacity: 50%;
      transition: 100ms opacity;

      &:hover {
        opacity: 100%;
      }
    }
  }
}

main {
  @include container(true);

  margin-top: 1rem;
  min-height: 100vh;
}

a {
  text-decoration: none;

  @include on-scheme(color, colors.$link-light, colors.$link-dark);
}

button {
  all: unset;

  cursor: pointer;
}

// Layout.

#announcements {
  .announcement {
    padding: 1rem;
    position: relative;

    &::after {
      position: absolute;
      content: "";
      left: 0;
      bottom: 0;
      width: 100%;
      height: 0.2rem;
      background-color: rgba(255, 255, 255, 10%);
      z-index: 10;
    }

    &[data-color="info"] {
      @include on-scheme(
        background-color,
        colors.$blue-light,
        colors.$blue-dark
      );
    }

    &[data-color="warning"] {
      @include on-scheme(
        background-color,
        colors.$yellow-light,
        colors.$yellow-dark
      );
    }

    &[data-color="danger"] {
      @include on-scheme(background-color, colors.$red-light, colors.$red-dark);
    }

    &:not([data-color]) {
      @include on-scheme(
        background-color,
        colors.$bg-light-shade1,
        colors.$bg-dark-shade1
      );
    }
  }
}

.forum-section {
  .forum-section-header {
    display: flex;
    padding: 1rem;

    @include on-scheme(
      background-color,
      colors.$bg-light-shade1,
      colors.$bg-dark-shade1
    );

    .forum-section-description {
      .forum-section-name {
        font-size: 1.2rem;
        font-weight: bold;
      }
    }

    .forum-section-toggle-visibility {
      display: block;
      margin-left: auto;

      &.hidden {
        transform: rotate(180deg);
      }
    }
  }
}

.section-container {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  gap: 1rem;
}

// Internal classes.

ashley-sonata-config {
  display: none;
}
